/* fixed footer */
html,body
{
     height: 100%;
}

body
{
    padding-top: 70px;
    padding-bottom: 70px;
}

[data-wrapper].opacity {
    opacity: 0.5;
}

.loading-container {
    margin-top: 5em;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 50px;
}

path {
  fill-opacity: .8;
  stroke: #000;
}

path:first-child {
  fill: yellow !important;
}
/*
#circle {
#  fill: #fff;
#  stroke: #000;
#  pointer-events: none;
#}
*/
.text-responsive {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.slide {
    min-height:300px;
}

#gamesbubble {
    z-index: 100;
}
#gamelist,#streamlist {
    overflow-y: scroll;
    max-height: 600px;
    /*height: 100%;*/
}

#gameitems {
    *overflow-y: scroll;
    max-height: 600px; 
}

.game {
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    /*box-shadow: 0px 4px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 4px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 4px 5px rgba(0,0,0,0.4);
*/
}

.game:hover {
  /*  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,0.5);*/
    transform: scale(1,1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.streamitem {
    cursor: pointer;  
}

.scrollable-container{
    max-height: 800px;
    overflow-y: scroll;
    overflow-x:  hidden;
}

.scrollable-inner {
    max-height: 100%;
}
