<div class="page-header">
  <h1>TwitchTV Expose <small> All about the App</small></h1>
</div>
<div class="jumbotron">
  <div class="container">
    <h2>Exposing TwitchTV to a Responsive Client UI</h2>
    <p class="text-primary"><a href="https://github.com/xjackk/TwitchTVExpose" target="_blank" class="btn btn-link" title="see the open-source project on github">Learn more</a></p>
  </div>
    <div class="panel panel-info">
    <div class="panel-heading">The Open Source Stack</div>
    <div class="panel-body">
    <ul class="list-inline">
      <li><a href="http://requirejs.org" target="_blank" class="btn-link"><small>RequireJS</small></a></li>
      <li><a href="http://backbonejs.org" target="_blank" class="btn-link"><small>BackboneJS</small></a></li>
      <li><a href="http://marionettejs.com" target="_blank" class="btn-link"><small>Marionette</small></a></li>
      <li><a href="http://underscorejs.org" target="_blank" class="btn-link"><small>Underscore</small></a></li>
      <li><a href="http://getbootstrap.com" target="_blank" class="btn-link"><small>Bootstrap</small></a></li>
      <li><a href="http://d3js.org" target="_blank" class="btn-link"><small>D3</small></a></li>
    </ul>
    </div>
    </div>
</div>
