<div class="panel panel-warning">
  <div class="panel-heading"><h3>TwitchTV Expose <small>{{game}} - {{channel.display_name}}</small></h3></div>
  <div class="panel-body">
    <object id="twitchExpose" type="application/x-shockwave-flash" width="600" height="338" data="https://www-cdn.jtvnw.net/widgets/live_embed_player.swf?channel={{channel.display_name}}" bgcolor="#C0C0C0">
        <param name="allowFullScreen" value="true" />
        <param name="wmode" value="transparent" />
        <param name="allowScriptAccess" value="always" />
        <param name="allowNetworking" value="all" />
        <param name="flashvars" value="hostname=www.twitch.tv&channel={{channel.display_name}}&start_volume=15&auto_play=true&client_id=hqxyqc9bf41e6grm6txrsdcwncoxavz&res=720p" />
    </object>
  </div>
</div>