<div class="row">
<!--
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{preview.large}}" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{channel.video_banner}}" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{channel.logo}}" alt="..." class="img-responsive">
    </a>
  </div>
  -->
</div>
