<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="panel-title">
                <strong>Top Games</strong><small> people are watching now</small>
                <span class=pull-right>
                    <button class="btn btn-info btn-xs bubble" title="bubble chart"><span class="glyphicon glyphicon-dashboard"></span> bubble</button>
                    <button class="btn btn-info btn-xs grid" title="grid view"><span class="glyphicon glyphicon-th"></span> grid</button>
                </span>
                </p>
            </div>
            <div id="game-region" class="panel-body"></div>
        </div>
    </div>
</div>