<div class="col-md-4 col-xs-12">
    <div class="panel panel-primary ">
        <div class="panel-heading">
            <div class="panel-title">Detail</div>
        </div>
        <div id="game-region" class="panel-body">
        </div>
    </div>
</div>
<div class="col-md-8 col-xs-12">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <div class="panel-title">Live Streaming  <span id="streamsummary" class="pull-right"></span></div>
        </div>
        <div  class="panel-body">
            <div class="scrollable-container">
                <ul></ul>
            </div>
        </div>
    </div>
</div>
