<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="panel-title"><span class="clearfix lead"><strong>Top Games</strong><small> people are watching now</small></span></p>
            </div>
            <div id="game-region" class="panel-body"></div>
        </div>
    </div>
<!--    
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <p class="panel-title"><span>Live Streams</span></p>
            </div>
            <div id="stream-region" class="panel-body"></div>
        </div>
    </div>
    -->
</div>